.articleHeader{
  padding:24px 0 18px 0;
}

.navigation{
  margin-bottom: 4px;
}

.navigation a{
  color:var(--mainTheme);
}

.title{
  margin-bottom:4px;
  font-family: var(--titleFont);
}

.headercontent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imageWithCaption{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.image{
  /* padding:0 5%; */
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.image img{
  width: 100%;
  object-fit: contain;
  border-radius: 2%;
}

.imageToHalf img{
  width: 50%;
}

.imageCaption a{
  color:var(--mainTheme);
}

.imageCaption a:hover{
  text-decoration: underline;
}

.imageCaption p{
  font-size: 14px;
}

@media (max-width: 600px){
  .imageToHalf img{
    width: 100%;
  }
}