.mediumSetWrapper{
  margin-top:18px;
}

.mediumSetTitle{
    margin-bottom: 12px;
}
  
.mediumSetCollection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 48px;
  margin-bottom: 24px;
}

.rightIcon{
  font-size: 18px;
}
  
/* iPad Devices */
@media only screen and (max-width: 1200px) {
  .mediumSetCollection{
    gap:24px;
  }
}

@media only screen and (max-width: 800px) {
  .mediumSetCollection{
    display: flex;
    flex-direction: column;
  }
}