.storySetTitle{
    margin-bottom: 12px;
}

.storySetCollection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 48px;
}

.arrow {
    margin: 1em 0;
}
.arrow::after {
    display: inline-block;
    content: "\0279E";
    -webkit-transition: transform 0.1s ease-out;
    -moz-transition: transform 0.1s ease-out;
    -ms-transition: transform 0.1s ease-out;
    -o-transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
}
.arrow:hover::after {
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}

@media only screen and (max-width: 800px) {
    .storySetCollection{
        row-gap:12px;
    }
}