.allSetTitle{
  margin-bottom: 12px;
}

.allSetCollection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* padding:0 4%; */
  gap: 48px;
  margin-bottom: 48px;
}

/* iPad Devices */
@media only screen and (max-width: 1200px) {
  .allSetCollection{
    gap:24px;
  }
}

@media only screen and (max-width: 800px) {
  .allSetCollection{
    display: flex;
    flex-direction: column;
  }
}