.footerWrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mainTheme);
    color:white;
    padding:24px;
    text-align: left;
}

.footerTop{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--titleFont);
    margin-top: 16px;
    text-align: center;
}

.footerTopSkills{
    margin-top:4px;
}

.footerLogo{
    max-width:100px;
}

.footerLogo img{
    width: 100%;
}

.footerLinks{
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    max-width: 100%;
    gap: 124px;
}

.footerLinksDivList{
    margin-top: 6px;
}

.footerLinksCategoryList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:250px;
    max-width: 100%;
}

.footerLinksCategoryList li{
    flex-basis: 50%;
}

.footerLinksDivList li a{
    color:white;
}

.footerLinksDivTitle{
    margin-bottom: 16px;
    position: relative;
    display: inline-block;
}

.footerLinksDivTitle::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: white;
    height:2px;
    width: 100%;
}

.footerLinksDivList li{
    color:white;
    margin-bottom: 8px;
}

.footerLinksDivList li{
    transition: transform 0.2s ease;
}

.footerLinksDivList li:hover{
	transform: translateX(6px);
}

.footerLinksDivList li:hover a{
    color:black;
}

@media only screen and (max-width: 1000px) {
    .footerLinks{
        gap: 64px;
    }
}

@media only screen and (max-width: 800px) {
    .footerLinks{
        gap: 32px;
    }
    .footerLinksCategoryList{
        width: 180px;
    }
}

@media only screen and (max-width: 600px) {
    .footerLinks{
        gap: 16px;
    }
    .footerLinksCategoryList{
        width: 150px;
    }
}

@media only screen and (max-width: 400px) {
    .footerLinksDiv{
        flex-basis: 24%;
    }
    .footerLinks{
        justify-content: flex-start;
        margin-left: 48px;
        max-width: 100%;
    }
}